version: 0.0.{build}
branches:
  only:
  - master
image: Visual Studio 2017
configuration: Release
dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '{version}'
  package_version: '{version}'
  assembly_version: '{version}'
  file_version: '{version}'
  informational_version: '{version}'
environment:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true
install:
- cmd: >-
    curl -O https://download.microsoft.com/download/0/F/D/0FD852A4-7EA1-4E2A-983A-0484AC19B92C/dotnet-sdk-2.0.0-win-x64.exe

    dotnet-sdk-2.0.0-win-x64.exe /install /quiet /norestart /log install.log
nuget:
  account_feed: true
  disable_publish_on_pr: true
build_script:
- cmd: >-
    dotnet restore src\GdaxApi\GdaxApi.sln -v q

    dotnet pack src\GdaxApi\GdaxApi\GdaxApi.csproj -o artifacts -c Release -v q
test_script:
- cmd: dotnet test src\GdaxApi\GdaxApi.Tests\GdaxApi.Tests.csproj -c Release -r artifacts
artifacts:
- path: src/GdaxApi/GdaxApi/artifacts/*.nupkg
  name: nuget.org
- path: src\GdaxApi\GdaxApi.Tests\artifacts\*
deploy:
- provider: NuGet
  api_key:
    secure: AkrFDHjLDjvlcEeLtlkJBUBA3lbDyAlHl6kU2GtraS+Onl33xR2LOSYaZIHPpW39
  skip_symbols: true
  on:
    branch: master